ul.cart-items {
    padding-left: 0px;
}
.cart-summary-line {
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 2px;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
}
.cart-detailed-totals .products {
	display: block;
}
.cart-summary-line .label {
    font-size: 12px;
    color: #888;
    font-weight: 500;
    padding: 0;
}
.cart-summary-line .value {
    float: right;
}
.regular-price {
  text-decoration: line-through;
  color: #ccc;
}
.product-discounts {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #808080;
}
.current-price {
    font-size: 16px;
    font-weight: 100;
    line-height: 32px;
}
.product-line-grid {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #f3f3f3;
}
.cart-grid-right .cart-summary {
    background-color: #f3eae5;
    padding: 30px;
}
.product-line-grid-left .product-image img {
    width: 100%;
}
.product-line-info .value {
	color: #333;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product-line-info .label {
	color: #999;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 0;
}
.input-group-btn-vertical .btn {
	padding: 10px;
}
.js-cart-line-product-quantity {
    width: 100%;
    display: table-cell;
    box-shadow: none;
    border: 0px;
    text-align: center;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    font-weight: 100;
    color: #666;
}
.product-price {
    font-size: 17px;
    font-weight: 100;
    font-family: 'Hind', sans-serif;
}
.product-line-grid-left, .product-line-grid-body {
    display: table-cell;
    float: none;
    vertical-align: top;
}
.product-line-grid-right {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
/*
** Checkout
*/
.checkout-step .step-title {
    margin-bottom: 20px;
}
#checkout-personal-information-step .nav-pills {
    margin-bottom: 20px;
}
#checkout-personal-information-step .nav-pills > li a {
    padding: 5px 0px;
}
.checkout-step.-reachable > h2 {
    font-family: 'Hind', sans-serif;
    font-size: 24px;
    margin: 0px;
    background-color: #fff;
    color: #999;
    padding: 10px 0px;
    font-weight: 100;
    cursor: pointer;
}
.checkout-step.-current > h2 {
    font-family: 'Hind', sans-serif;
    letter-spacing: 3px;
    font-size: 24px;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #fff;
    color: #e0680e;
    font-weight: 100;
}
.checkout-step.-unreachable > h2 {
    font-family: 'Hind', sans-serif;
    letter-spacing: 3px;
    font-size: 24px;
    margin: 0px;
    background-color: #fff;
    padding: 10px 0px;
    color: black;
    font-weight: 100;
}
.checkout-step.-current > h2 .step-number,
.checkout-step.-unreachable > h2 .step-number,
.checkout-step.-reachable > h2 .step-number {
    display: none;
}
.checkout-step {
    width: 100%;
    text-align: left;
    float: left;
}
.checkout-step h2 .glyphicon {
    font-size: 10px;
}
.checkout-step.-unreachable .content,
.checkout-step.-reachable .content {
    display: none;
}
.checkout-step.-current .content {
    display: block;
}
body#checkout section.checkout-step .done,
body#checkout section.checkout-step .step-edit {
    display: none;
}
body#checkout section.checkout-step.-reachable.-complete h2 .step-edit {
    cursor: pointer;
    display: block;
    float: right;
    margin-right: .125rem;
}
#customer-form hr {
    border-color: #333;
}
#customer-form p .font-weight-bold {
    font-size: 14px;
}
@media (max-width: 600px) {
    .reduction {
        min-width: 100%;
        margin-bottom: 20px;
    }
    .cart-detailed-totals {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .cart-grid-header .nav > li {
        position: relative;
        display: inline-block;
        margin-right: 10px;
    }
    .cart-grid-header .navbar-nav {
        margin: 0;
    }
}