ul.cart-items {
    padding-left: 0px;
}
.cart-summary-line {
    font-size: 15px;
    line-height: 33px;
    letter-spacing: 2px;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
}
.cart-detailed-totals .products {
	display: block;
}
.cart-summary-line .label {
    font-size: 12px;
    color: #888;
    font-weight: 500;
    padding: 0;
}
.cart-summary-line .value {
    float: right;
}
.regular-price {
  text-decoration: line-through;
  color: #ccc;
}
.product-discounts {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #808080;
}
.current-price {
    font-size: 16px;
    font-weight: 100;
    line-height: 32px;
}
.product-line-grid {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #f3f3f3;
}
.cart-grid-right .cart-summary {
    background-color: #f3eae5;
    padding: 30px;
}
.product-line-grid-left .product-image img {
    width: 100%;
}
.product-line-info .value {
	color: #333;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product-line-info .label {
	color: #999;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 0;
    white-space: normal;
}
.input-group-btn-vertical .btn {
	padding: 10px;
}
.js-cart-line-product-quantity {
    width: 100%;
    display: table-cell;
    box-shadow: none;
    border: 0px;
    text-align: center;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    font-weight: 100;
    color: #666;
}
.product-price {
    font-size: 17px;
    font-weight: 100;
    font-family: 'Hind', sans-serif;
}
.product-line-grid-left, .product-line-grid-body {
    display: table-cell;
    float: none;
    vertical-align: top;
}
.product-line-grid-right {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
/*
** Checkout
*/
.checkout-step .step-title {
    margin-bottom: 20px;
}
#checkout-personal-information-step .nav-pills {
    margin-bottom: 20px;
}
#checkout-personal-information-step .nav-pills > li a {
    padding: 5px 0px;
}
.checkout-step.-reachable > h2 {
    font-family: 'Hind', sans-serif;
    font-size: 24px;
    margin: 0px;
    background-color: #fff;
    color: #999;
    padding: 10px 0px;
    font-weight: 100;
    cursor: pointer;
}
.checkout-step.-current > h2 {
    font-family: 'Hind', sans-serif;
    letter-spacing: 3px;
    font-size: 24px;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #fff;
    color: #e0680e;
    font-weight: 100;
}
.checkout-step.-unreachable > h2 {
    font-family: 'Hind', sans-serif;
    letter-spacing: 3px;
    font-size: 24px;
    margin: 0px;
    background-color: #fff;
    padding: 10px 0px;
    color: black;
    font-weight: 100;
}
.checkout-step {
    width: 100%;
    text-align: left;
    float: left;
}
.checkout-step h2 .glyphicon {
    font-size: 10px;
}
.checkout-step.-unreachable .content,
.checkout-step.-reachable .content {
    display: none;
}
.checkout-step.-current .content {
    display: block;
}
body#checkout section.checkout-step .done,
body#checkout section.checkout-step .step-edit {
    display: none;
}
body#checkout section.checkout-step.-reachable.-complete h2 .step-edit {
    cursor: pointer;
    display: block;
    float: right;
    margin-right: .125rem;
}
#customer-form hr {
    border: solid 5px #efefef
}
#customer-form p .font-weight-bold {
    font-size: 14px;
}

/*
** Adresse
*/
.address-item .selectmark {
    display: none;
}
.address-item header {
    padding: 20px;
    border: solid 2px #333;
    padding: 15px;
}
.address-item hr {
    margin: 0px;
}
.address-item .address-footer {
    text-align: center;
}
.address-item.selected header {
    border: solid 3px #e0680e;
    background-color: #fff;
}
.address-alias {
    font-size: 20px;
    display: inline-block;
    font-size: 20px;
    display: inline-block;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-family: 'Droid Serif', serif;
    color: #333;
    vertical-align: top;
}
.addresses-footer {
    margin-top: 40px;
}
#delivery-addresses {
    margin-bottom: 20px;
}
#different-invoice-address {
    color: #e0680e;
}
.add-address,
.js-address-error {
    display: inline-block;
    width: 100%;
}
.delivery-option {
    background: #f6f6f6;
    padding: 20px 0;
    margin-bottom: 20px;
}
.delivery-option img {
    max-width: 25px;
}
.delivery-option label {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.delivery-option span {
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    display: inline-block;
    vertical-align: initial;
    line-height: 32px;
}
/*
** Payment
*/
.payment-option {
    margin-bottom: 10px;
}
.payment-option label span {
    vertical-align: text-top;
    display: inline-block;
    font-size: 14px;
}
.payment-option .custom-radio {
    margin-right: 10px;
    vertical-align: middle;
}
dl.data-sheet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.data-sheet dd {
    font-weight: 500;
}
.data-sheet dd,
.data-sheet dt {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 46%;
    flex: 0 0 46%;
    background: #fff;
    padding: 10px;
    margin: 4px;
    font-size: 14px;
    line-height: 10px;
}
/*
** Order confirmation
*/
.page-order-confirmation .card-block {
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}
.page-order-confirmation .card-block h3.h1 {
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    font-weight: 100;
    text-shadow: none;
    letter-spacing: 2px;
}
.page-order-confirmation .card-block h3.h1 + p {
    color: #333;
}
.order-confirmation-table {
    font-size: 14px;
    text-align: center;
}
.order-confirmation-table .details {
    text-align: left;
}
.order-confirmation-table .image img {
    width: 100%;
    border: 1px solid gray-lighter;
    margin-bottom: 1rem;
}
#order-confirmation h3 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#order-items table {
    width: 100%;
}
#order-items table tr td {
    padding: 5px;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
}
#order-items table tr {
    height: 20px;
}
#order-items table tr td:last-child {
    text-align: right;
}
#order-items table tr.total-value {
    background-color: #f1f1f1;
}
#order-items table tr.total-value td {
    font-weight: bold;
}
#order-details {
    margin-top: 15px;
}
#order-details>.card-title {
    margin-bottom: 18px;
}
#order-details ul {
    margin-bottom: 12px;
}
#order-details ul li {
    margin-bottom: 10px;
}
ul li.product-line-info .label {
    width: 40%;
    display: inline-block;
    text-align: left;
    white-space: normal;
}
ul li.product-line-info .current-price {
    width: 50%;
}
#registration-form {
    margin-top: 20px;
}


@media (max-width: 600px) {
    .reduction {
        min-width: 100%;
        margin-bottom: 20px;
    }
    .cart-detailed-totals {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .cart-grid-header .nav > li {
        position: relative;
        display: inline-block;
        margin-right: 10px;
    }
    .cart-grid-header .navbar-nav {
        margin: 0;
    }
}