/*
** BREADCRUM
*/
.breadcrumb {
  background-color: inherit;
  margin-bottom: 30px;
  height: 20px;
}
.breadcrumb ol {
  width: 100%;
  padding: 0px;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li:before {
  content: "\e072";
  color: #E8E8E8;
  position: relative;
  top: 0px;
  left: 5px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 100;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 7px;
}
.breadcrumb li:after {
  content: '';
  position: relative;
  top: 0px;
  padding-left: 10px;
  line-height: 20px;
}
.breadcrumb li:last-child:before {
  content: "";
}
.breadcrumb li h1 {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
}
.breadcrumb li h1 a {
  font-size: 11px;
}
.breadcrumb li a {
  color: #c1c1c1;
  font-size: 10px;
  font-family: 'Hind', sans-serif;
  line-height: 20px;
  display: block;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.breadcrumb li a:hover {
  text-decoration: none;
}
.breadcrumb li:last-child a {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}
/*
CATEGORY TREE
*/
.category-top-menu,
.category-sub {
  padding: 0px;
  list-style: none;
}
.category-top-menu a:hover {
  text-decoration: none;
}
.category-top-menu a:not(.active) {
  transform: translate(0,0px);
  transition: transform 0.5s;
}
.category-top-menu a:hover:not(.active) {
    padding-left: 8px;
    transform: translate(10px,0px);
    transition: transform 0.5s;
}
.category-top-menu li > a {
  font-size: 13px;
  letter-spacing: 3px;
  width: 100%;
  display: block;
  margin-top: 13px;
}
.category-top-menu li > a.active {
  border-bottom: solid 1px #e8e8e9;
}
.category-top-menu li a.active span {
  line-height: 27px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.category-top-menu li a.active span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: block;
  height: 0;
  border-bottom: 1px solid #000;
}
.category-top-menu li a + .category-sub {
  display: none;
}
.category-top-menu li a.active + .category-sub {
  display: block;
}
.category-top-menu li a + .category-sub li {
  font-size: 12px;
  display: block;
  color: #000;
  text-transform: uppercase;
  padding: 5px 0px;
  padding-left: 10px;
  letter-spacing: 0.03em;
}
.category-top-menu li a + .category-sub li a {
  margin: 0px;
}
.category-top-menu li a + .category-sub li a:before {
  content: " ";
  position: relative;
  display: inline-block;
  width: 16px;
  height: 13px;
}
.category-top-menu li a.active + .category-sub li a.active {
  border-bottom: 0px;
  margin-left: 0px;
  line-height: 20px;
}

.category-top-menu li a.active + .category-sub li a.active:before {
  content: "\e072";
  color: #999;
  position: relative;
  top: 0px;
  left: -5px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-size: 7px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.category-top-menu li a + .category-sub li:hover a:before,
.category-top-menu li a.active + .category-sub li:hover a.active:before {
  content: "\e072";
  color: #E8E8E8;
  position: relative;
  top: 1px;
  left: -5px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 100;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#block-reassurance {
  margin-top: 150px;
}
#block-reassurance > div:before {
    content: "\e239";
    position: relative;
    left: 49%;
    font-family: "Glyphicons Halflings";
    font-size: 20px;
    opacity: 0.2;
    top: -7px;
}
#block-reassurance p {
  font-family: 'Droid Serif', Serif;
  text-align: center;
  letter-spacing: 2px;
  color: #888;
}
/*
** Slideshow
*/
.homeslider-container .caption {
  max-width: 40%;
  left: 55%;
  background: none;
  padding: 0;
  margin: 0;
  color: #666;
  text-transform: none;
}
.homeslider-container .caption h2 {
  font-family: 'Hind', sans-serif;
  color: #999;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}
.homeslider-container .caption h3 {
  font-family: 'Droid Serif', serif;
  color: #e0680e;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.homeslider-container .caption p {
  font-family: 'Hind', sans-serif;
  margin-left: 10px;
}
.homeslider-container .caption hr {
  border-top: solid 0.2px #e0680e;
  width: 20%;
  margin: 0px 0px 10px 10px;
}
.homeslider-container .caption a {
  color: #e0680e;
  margin: 0px 0px 0px 10px;
}
.homeslider-container .caption a:hover {
  text-decoration: none;
}
.homeslider-container ul li img {
  width: 50%;
}
.homeslider_nav {
  bottom: -40%;
  top: unset;
}
.homeslider_nav.next {
  right: 40%;
}
.homeslider_nav.next:before {
  content: "\e649";
  position: relative;
  font-family: "themify";
  font-size: 20px;
  top: -7px;
  color: #e0680e;
}
.homeslider_nav.prev {
  left: 40%;
}
.homeslider_nav.prev:before {
  content: "\e64a";
  position: relative;
  font-family: "themify";
  font-size: 20px;
  top: -7px;
  color: #e0680e;
}
.homeslider_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: unset; 
  left: 0;
  opacity: 1;
  z-index: 3;
  text-indent: 0;
  overflow: none; 
  text-decoration: none !important;
  height: 21px;
  width: 18px;
  background: none; 
  margin-top: -45px;
}
a.homeslider_nav:actif,
a.homeslider_nav:hover,
a.homeslider_nav:visited,
a.homeslider_nav:focus,
a.homeslider_nav:focus-within {
  text-decoration: none !important;
  border: 0px;
}