/*
** Customer.css
*/
.links {
    text-align: center;
}
.links span.link-item {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-bottom: 20px;
}
.link-item .glyphicon {
    padding: 10px;
    font-size: 14px;
    color: #333;
    margin-right: 2px;
}
.links > a:hover {
    transform: translate(0,7px);
    transition: transform 0.5s;
}
