/*
** PRODUCTS LIST
*/
.products .thumbnail {
	border: 0px;
    box-shadow: none;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    border-bottom: solid 1px #E9E9E9;
    width: 100%;
    margin: 0 auto 30px auto;
}
.products .thumbnail a {
	position: relative;
}
.products .thumbnail .hover_bg {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.products .thumbnail a .ti-plus {
	position: absolute;
    top: 10px;
    left: 10px;
    font-weight: lighter;
    display: none;
}
.products .thumbnail:hover {
    transform: translate(0,7px);
    transition: transform 0.5s;
}
.products .thumbnail:hover .hover_bg {
	background-color: rgba(0,0,0,0.2);
}
.products .thumbnail:hover a .ti-plus {
	display: block;
}
.products .thumbnail .caption {
	padding: 0px;
	margin-top: 30px;
}
.products .thumbnail > img,
.products .thumbnail a > img {
	/*height: 100%;
    width: auto;
    max-width: fit-content;
    position: relative;*/
    /*left: calc(100% - 120%);*/
}
.product-title {
	font-family: 'Droid Serif', serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    color: #000;
    margin-top: 30px;
    height: 50px;
}
.new,
.on-sale,
.discount,
.discount-percentage,
.discount-amount,
.out-stock {
	background-color: #DE6922;
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Hind', sans-serif;
    font-weight: 100;
    padding: 2px 5px;
    color: wheat;
}
.out-stock {
	background-color: #333;
	color: white;
}
.product-flags {
    color: white;
    width: fit-content;
    display: block;
    margin: 0 auto;
    border-top: solid 1px #e8e8e8;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    padding: 0px;
    height: 20px;
}
.product-flags li {
	display: none;
	padding: 2px 10px 0px 10px;
}
.product-flags li:first-child {
	display: block;
}
.product-price-and-shipping {
	display: block;
    width: 100%;
    margin: 10px 0;
    font-family: 'Hind', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 100;
    color: #000;
}
.regular-price {
    text-decoration: line-through;
    color: #ccc;
}

/*
** PRODUCT PAGE
*/
#product .product-flags {
	position: absolute;
}
#product #content-wrapper h2 {
	letter-spacing: 2px;
    font-size: 17px;
    margin-bottom: 20px;
    font-family: 'Droid Serif', serif !important;
    color: #333;
    margin: 5px 0px;
    text-shadow: 1px 1px 1px #e9e9e9;
}
#product .short-description > * {
	font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 11px !important;
    color: #999;
}
#product .product-prices {
	letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}
#product .product-prices small {
	font-size: 60%;
    color: #999;
}
#product .product-prices .current-price {
  	letter-spacing: 2px;
	font-weight: 600;
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
}
.description img {
    max-width: 100%;
}
.product-description ul {
    padding-left: 30px;
}
.product-description li {
    list-style: square;
}
a.add-to-cart,
a.add-to-cart:hover {
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 5px;
  background-color: #90ee90;
  font-weight: bold;
}
#product #content-wrapper .tabs {
    border-bottom: solid 1px #e8e8e8;
}
#product #content-wrapper .tabs table tr:first-child * {
    border-top: 0px;
}
#product .tab-content {
    margin: 10px 0px;
}
#product .js-qv-mask {
    width: 15%;
    float: left;
    margin-right: 5%;
}
#product .js-qv-mask ul {
    padding: 0px;
}
#product .js-qv-mask .thumb-container {
    margin-bottom: 10px;
}
#product .js-qv-mask .thumb-container:last-child {
    margin-bottom: 0px;
}
#product .js-qv-mask .thumb-container img {
    width: 100%;
}
#product .product-cover {
    float: left;
    width: 80%;
    position: relative;
}
.product-variants {
    margin-top: 20px;
}
.product-manufacturer {
    margin-top: 150px;
}
#manufacturer-short_description h3,
#custom-text h4,
.product-manufacturer h4 {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-bottom: 5px;
}
#custom-text h3,
.product-manufacturer h3 {
    font-family: 'Droid Serif', serif;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-top: 5px;
}
.product-manufacturer img {
    max-width: 100%;
}
#custom-text p,
#manufacturerTab p,
.product-manufacturer .description p {
    font-family: 'Droid Serif', serif;
    color: #333;
}
.product-variants-item .custom-select {
    margin-bottom: 13px;
}
.product-variants-item .checkmark,
.product-variants-item .selectmark {
    height: 30px;
    width: 30px;
    line-height: 30px;
}
.customization a {
    font-size: 11px;
}
.product-customization {
    padding: 10px;
    border: solid 1px #333;
    margin-top: 20px;
    width: 80%;
    float: right;
}
.product-customization h4 {
    margin-bottom: 20px;
    color: #333;
}
.product-customization-item label {
    text-transform: uppercase !important;
}
#manufacturer-short_description {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #product .js-qv-mask {
        width: 100%;
    }
    #product .js-qv-mask .thumb-container {
        margin-bottom: 10px;
        width: 15%;
        float: left;
        margin-right: 10px;
    }
    #product .product-cover {
        width: 100%;
    }
    .short-description {
        margin-top: 50px;
    }
    .product-customization {
        width: 100%;
    }
}
