/*
** CART
*/
#blockcart-wrapper {
  display: inline-block;
}
.cart-preview {
  position: relative;
}
.cart-preview a,
.cart-preview a:hover,
.cart-preview a:visited {
  text-decoration: none;
  color: inherit;
}
.cart-preview .header {
  display: block;
  font-weight: normal;
  padding: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-family: 'Hind', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
}
.cart-preview .body {
  display: none;
  width: 400px;
  background-color: #fff;
  right: 0;
}
.cart-preview:hover .body {
  display: none;
  position: absolute;
}
.cart-preview.cart-overview {
  width: 100%;
  position: inherit;
}
.cart-preview.cart-overview .body {
  display: block;
  position: inherit;
  width: 100%;
}
.cart-preview .header > :first-child {
  float: left;
}
.cart-preview .header > :last-child {
  float: right;
}
.cart-preview .header::after,
.cart-preview .cart-totals > div::after {
  clear: both;
  content: "\A0";
}
.cart-preview .body {
  border: 1px solid #808080;
  padding: 2px;
}
.cart-preview ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart-preview li {
  list-style: none;
  margin-bottom: 15px;
}
.cart-preview li > * {
  display: inline-block;
  vertical-align: top;
}
.cart-preview li .product-quantity {
  color: #666;
  width: 10%;
}
.cart-preview .product-quantity::after {
  content: 'x';
}
.cart-preview li .product-name {
  width: 50%;
}
.cart-preview li .product-price {
  width: 20%;
}
.cart-preview li .remove-from-cart {
  text-indent: 100%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  width: 2em;
  white-space: nowrap;
  float: right;
}
.cart-preview li .remove-from-cart::before {
  content: 'X';
  text-indent: 0px;
  border: 1px solid #ccc;
  border-radius: 100%;
  width: 1em;
  height: 1em;
  padding: 2px;
  text-align: center;
  background-color: #333;
  color: #fff;
  float: left;
}
.cart-preview .cart-totals .label {
  float: left;
}
.cart-preview .cart-totals .value {
  float: right;
}
.cart-preview .cart-totals > div {
  clear: both;
  border-bottom: 1px solid #ccc;
}
.cart-preview .cart-totals > div:not(:last-child) {
  margin-bottom: 5px;
}
.cart-totals .label {
  font-weight: bold;
}

/*
** USER INFO
*/
.user-info {
  display: inline-block;
}
.user-info a,
.user-info a:visited {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #000;
  color: #999;
  font-family: 'Hind', sans-serif;
  letter-spacing: 1px;
}
.user-info a:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .user-info a,
  .user-info a:visited {
    display: block;
  }
}
/*
** LANGUAGE & CUURENCY
*/
.language-selector {
  text-align: left;
}
.language-selector,
.currency-selector {
  display: inline-block;
  position: relative;
  padding: 5px;
  cursor: pointer;
  z-index: 100;
}
.language-selector button,
.currency-selector button {
  background-color: #000;
  border: 0px;
}
.language-selector li.current,
.currency-selector li.current {
  font-style: italic;
}